.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}


.screen{
  font-size: 5rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.my-btn{
  font-size: 3rem !important;
  margin-left: 5%;
  padding: 15px !important;
}

.my-btn:first-child{
  margin-left: 0;
}
